@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}
@model CleanArchitecture.Web.ViewModels.HomePageViewModel

<h2>Guestbook: @Model.GuestbookName</h2>
<h3>Messages:</h3>
<ol class="round">
    @if(!Model.PreviousEntries.Any())
    {
        <li class="zero">
            <h5>No Messages</h5>
            Nobody has left any messages. How sad. :(
        </li>
    }
    @foreach (var entry in Model.PreviousEntries.OrderByDescending(p => p.DateTimeCreated))
    {
        <li class="arrow">
            <h5>@entry.EmailAddress - @entry.DateTimeCreated</h5>
            @entry.Message
        </li>

    }
</ol>